.dropdown{
   position: relative;
}

.dropdown-btn{
   display: flex;
  align-items: center;
  width: fit-content;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}


.toggle-icon{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 1rem;
}

.button-open{
   border: rgb(147, 197, 253) 2px solid;
}

.dropdown-content{
   position: absolute;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-height: 50vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  opacity: 0;
  transform: translateY(-5%);
   transition: transform 150ms ease-in-out;
   opacity: 100ms ease-in-out;
   pointer-events: none;
}

.drop-content::-webkit-scrollbar{
   width: 0;
   height: 0;
}

.content-open{
   opacity: 1;
   transform: translateY(0);
   pointer-events: all;
}


.dropdown-item{
   padding:0.5rem;
   margin: 0.1rem;
   width: 100%;
   border-radius: 0.5rem;
   cursor: pointer;

}

.dropdown-item:hover{
   background-color: rgb(240, 249, 255);
}